<ion-view id="page4" has-header="false" hide-nav-bar="true" padding="true" has-tabs="false">
    <ion-content>
      <h1 id="login" style="color:#000000;font-weight:400;text-align:center;">Home Chef</h1>
<div class="footer">
      <button class="button button-stable">
  Login
</button>

<button class="button button-stable">
Sign Up
</button>
</div>
    </ion-content>
</ion-view>

/*<style type="text/css">
.pane{
background:url('https://s-media-cache-ak0.pinimg.com/736x/5f/68/ab/5f68ab72bb96613a4f41c0b0446856d6.jpg') no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}
</style>*/
