<ion-view id="page4" has-header="false" hide-nav-bar="true" padding="true" has-tabs="false">
    <ion-content>
      <h1 id="home-heading2" draggable="" style="color:#E41A1A;font-weight:600;text-align:center;">Saved Recipes</h1>
        </ion-list>
    </ion-content>
    /*<style type="text/css">
    .pane{
    background:url('https://s-media-cache-ak0.pinimg.com/736x/5f/68/ab/5f68ab72bb96613a4f41c0b0446856d6.jpg') no-repeat center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
    }
    </style>*/
</ion-view>
